.post{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
}
.postwrapper{
    padding: 10px;
}
.posttop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posttopleft{
    display: flex;
    align-items: center;
}
.posttopleftimage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
}
.postusername{
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
}
.like{
    color: blue;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.likes{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 7px;
}
.heart{
font-size: 24px;
margin-right: 10px;
cursor: pointer;
margin-bottom: 7px;
margin-left: 5px;
}
.postcenter{
    margin: 20px 0px;
}
.postcenterimage{
    width: 100%;
    margin: 10px 0px ;
    object-fit: contain;
    max-height: 500px;
}
.postbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postbottomleft{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.share{
    cursor: pointer;
}
.postlikecounter{
    font-size: 14px;
    font-weight: 400;
}
.postcommenttext{
    font-size: 18px;
    font-weight: 400;
  margin-left: 5px;
 
}
.comments{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.postbottomright{
    display: flex;
    align-items: center;
    cursor: pointer;
}

